################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Manage_Furniture/.vs/Manage_Furniture/FileContentIndex
