################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Manage_Furniture/.vs/Manage_Furniture
